.life .containerlife{
    padding: 4rem 2.5rem;
}
.life .categorylife{
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.life img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: .9s;
    cursor: pointer;
}

.life img:hover{
    filter: grayscale(100%);
}

.life .boxlf .toplftext{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.life .boxlf .toplftext:hover{
    color: #ff7d27;
}


.life .circle{
    width: 4px;
    height: 4px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50px;
    background-color: #7a7a7a;
}

.life .lftext{
    display: flex;
    align-items:center ;
}

.life .bottomlftext , .datelf{
    text-decoration: none;
    color: #7a7a7a;
    font-size: 14px;
    transition: .5s;
}

.life .bottomlftext:hover{
    color: #000;
}